@charset "utf-8";
@keyframes fade-in {
	from {opacity: 0.0;}
	to {opacity: 1.0;}
}
body {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 1.25em;
	background-color: black;
	color: white;
	margin-left: 2em;
	margin-right: 2em;
}
header {
	border-color: white;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	padding-top: 1.25em;
	padding-bottom: 2em;
	
	
}
header h1, header nav {
	display: inline;
}
h2 {
	text-align: center;
}
nav a {
	text-decoration: none;
	color: white;
	margin-left: 20px;
	-webkit-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    transition: all 0.5s ease-in 0s;
}
nav a:hover {
    color: gray;
}
#current {
	text-decoration: underline;
}
header {
	animation-name: fade-in;
	animation-duration: 1s;
}
h2, section {
	animation-name: fade-in;
	animation-duration: 2s;
}
section {
    background-color: #1A1A1A;
    margin-top: 2em;
	margin-bottom: 2em;
    padding: 2%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
aside img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
article {
	margin-left: 0px;
	padding: 5%;
	text-align: justify;
	line-height: 1.5em;
}
thead td {
	text-align: center;
}
td {
	font-size: 0.75em;
}